
	<link rel="stylesheet" href="{{ asset('style.css', 'themesurf') }}">
	<link rel="stylesheet" media="screen and (max-width: 370px)" href="{{ asset('style_320.css', 'themesurf') }}">
	<link rel="stylesheet" media="screen and (max-device-width: 480px), handheld" href="{{ asset('style_480.css', 'themesurf') }}">
	<div id="wrapper">
	
		<!-- HEADER MET LOGO, EVENTUELE TITEL EN TAAL TOGGLE -->
		<div id="header">
			<img id="logo" src="{{ asset('logo.svg', 'themesurf') }}" alt=""> <!-- DIT IS HET LOGO -->
			<h1 class="mainTitle"></h1>				        <!-- HIER KAN EEN TITEL -->
			<ul class="langSelect">

</ul>

		</div>
		<!-- EINDE HEADER MET LOGO, EVENTUELE TITEL EN TAAL TOGGLE -->
