/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+	File		: style.css
+	Author		: frismedia.nl
+	Date		: 02-07-2012
+	 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

  
/*----------------------------------------*/
/*               HTML RESET               */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #000;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
/*               HTML RESET               */
/*----------------------------------------*/


/*----------------------------------------*/
/*                  HTML                  */
body{
	/* HIER KAN JE DE ACHTERGROND VAN DE WEBSITE AANPASSEN */
		background-image: url(/* LINK NAAR HET PLAATJE VANAF DE LOCATIE VAN DIT CSS BESTAND, (bijv '../img/achtergrond.jpg') */) top left; /* ACHTERGROND AFBEELDING */
		background-color: #EEE; /* ACHTERGROND KLEUR */
}

div.footer, div.createIndex, ul.langSelect{
	background: #EEE; /* ACHTERGROND KLEUR VOOR TEKST OVER ACHTERGROND*/
	background: rgba(238,238,238,0.8); /* SEMI-TRANSPARANT INDIEN BESCHIKBAAR*/
}
 /* TOT HIER */

div, input, div.item, label, a.recover, ul, li, img, h1.mainTitle {
	float: left;
}
span, input[type="submit"], ul.langSelect, div.example{
	float: right;
}
h1, h2{
	margin: 0 0 10px 0;
}
p{
	margin: 10px 0;
}
form, input {
	width: 100%;
}
label, span.example{
	margin: 10px 0 0 0;
}
input{
	height: 30px;
	border: 1px solid #808080;
	margin: 5px 0 10px 0;
}
input[type="submit"]{
	width: 105px;
	background: #555;
	border: 1px solid #222;
	cursor: pointer;
}
ul{
	max-width: 410px;
	list-style: none;
}
ul li{
	background: url(bullet_list.png) left top no-repeat;
	padding: 0 0 0 15px;
}
/*                  HTML                  */
/*----------------------------------------*/


/*----------------------------------------*/
/*              MAIN ELEMENTS             */
div#content, div#wrapper, div#header{
	width:100%;
}

div#wrapper{
  max-width:480px;
	margin: 10px auto 0 auto;
	float: none;
}
div#header{
	position:relative;
	height: 65px;
}
div#footer{
	width:100%;
}

div#footer p {
  margin: 0px 27px;
	padding: 6px 5px;
	border-top: 2px solid #999;
}
div.subitem {
	
}
body.storing div#footer{
	border: none;
}

/*              MAIN ELEMENTS             */
/*----------------------------------------*/


/*----------------------------------------*/
/*                 HEADER                 */
ul.langSelect{
  position: absolute;
  right:3px;
  top:35px;
	width: auto;
	list-style: none;
	margin: 0 20px 0 0;
	padding: 5px;
}
ul.langSelect li{
	padding: 0 5px;
	border-left: 2px solid #c6c6c6;
	background: none;
}
ul.langSelect li:first-child{
	border: none;
}
h1.mainTitle{
	max-width: 285px;
	margin: 20px 0 20px 20px;
}
div#header img{
	width: 108px;
	margin: 0 0 0 20px;
}
/*                 HEADER                 */
/*----------------------------------------*/


/*----------------------------------------*/
/*                CONTENT                 */
div.item{
	max-width: 410px;
	background: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0 10px;
	padding: 25px;
	
	/* schaduw */
	-moz-box-shadow:    0 0 3px 0 #8c8c8c;
	-webkit-box-shadow: 0 0 3px 0 #8c8c8c;
	box-shadow:         0 0 3px 0 #8c8c8c;
}
div.item a{
	margin-top: 13px;
}
div.subitem{
	margin: 0 27px;
}
div.createIndex{
	position: relative;
	padding: 30px 8px;
	z-index: -99999;
}
body.storing div.createIndex{
	padding: 0 10px;
}
p.error{
	min-height: 20px;
	background: url(icon_error.png) left center no-repeat;
	padding: 0 0 0 25px;
}
body.storing div.item a{
	margin: 0;
	float: none;
}
/*                CONTENT                 */
/*----------------------------------------*/


/*----------------------------------------*/
/*                  FOOTER                */
div#footer a{
	border-right: 1px solid #8f8f8f;
	padding: 0 9px 0 0;
	margin: 0 5px 0 0;
}
/*                  FOOTER                */
/*----------------------------------------*/


/*----------------------------------------*/
/*                  FONTS                 */
body{
	font-family: Arial, Helvetica, san-serif;
	font-size: 12px;
	color: #333;
	line-height: normal;
}
h1{
	font-size: 150%;
}
label, input, h2{
	font-size: 120%;
}
p, li {
	font-size: 100%;
	line-height:140%;
}
span{
	font-size: 100%;
	font-weight: normal;
}
h1, label, input[type="submit"], h2, li.active a{
	font-weight: bold;
}
a{
	text-decoration: none;
	color: #003399;
}
a:hover{
	text-decoration: underline;
}
input[type="submit"]{
	color: #FFF;
}
span, div#footer{
	color: #666;
}
div#footer{
	text-align: right;
}
li.active a:hover{
	text-decoration: none;
}
li.active a{
	color: #333;
}
p.error{
	color: #F00;
}
/*                  FONTS                 */
/*----------------------------------------*/
